body {
    font-family: 'Muli', sans-serif;
    padding: 25px;
}

a {
    color: #257fad;
}

pre {
    margin: 0;
    margin-bottom: 35px;
}

li {
    margin-top: 5px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 1.4em;
    margin: 0;
}